.input {
    position: relative;
    border: 1px solid #323b54;
    border-radius: 12px;
    padding: 12px 16px;
    width: 384px;
    height: 64px;
}

.input-search {
    background-image: url('/search.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 24px 24px;
    padding-left: 48px;
}