.header {
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-container {
    display: flex;
    place-items: center;
    gap: 30px;
}

.header-container a:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}